  .body-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 100px;
    margin-left: 10px; 
    width: 100%; 
    color :white;
  }

  .body-input textarea{
    width: 100%; 
    height: 60px;
    resize: none;
    border: none;
  }

  .body-input textarea:last-of-type{
    height: 200px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .button{
    width: 100%;
  }
