.submited-request-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  padding: 10px;
  color: var(--color-white);
  border-radius: 5px;
  border: 1px solid rgba(207, 192, 192, 0.2);
  box-shadow: 0 4px 8px rgba(208, 43, 241, 0.1);
}

.submited-request-card-title {
  padding: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.submited-request-card-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.submited-request-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.submited-request-card-description-button {
  background: none;
  border: none;
  color: blueviolet;
}

.status {
  color: black;
  border-radius: 5px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
}

.PENDIENTE {
  background-color: yellow;
}

.ACEPTADA {
  background-color: green;
}

.RECHAZADA {
  background-color: red;
}

.status-container {
  display: flex;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.trash-icon{
  font-size: 25px;
}

.submited-request-card-container {
  transition: opacity 1s ease, transform 1s ease;
}

.submited-request-card-container.deleting {
  opacity: 0;
  transform: scale(0.9); /* Disminuir ligeramente el tamaño */
}