:root {
    --gradient-dark: #000;
    --gradient-light: #63e;
  }
  
  .backgroundProfile-gradient { 
    background: 
      radial-gradient(
        ellipse 80% 80% at 50% -20%, 
        rgba(120, 119, 198, 0.3), 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        125% 125% at 50% 10%, 
        var(--gradient-dark) 40%, 
        var(--gradient-light) 100%
      );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .profile-gradient-circle {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle farthest-side, rgba(255, 0, 182, 0.15), rgba(255, 255, 255, 0));
  }
  
  .circle-left {
    bottom: 0;
    left: -20%;
    top: -10%;
  }
  
  .circle-right {
    bottom: 0;
    right: -20%;
    top: -10%;
  }
  

/*<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div></div>*/
