.pending-request-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  padding: 10px;
  color: var(--color-white);
  border-radius: 5px;
  border: 1px solid rgba(207, 192, 192, 0.2);
  box-shadow: 0 4px 8px rgba(208, 43, 241, 0.1);
}

.pending-request-card-title {
  padding: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.pending-request-card-description-botton {
  background: none;
  border: none;
  color: blueviolet;
}
