.request-body {
    width: 100%;  /* Ajusta el ancho según sea necesario */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.request-info-line {
    display: flex;
    align-items: center;  /* Alinea los elementos verticalmente en el centro */
    gap: 100px;  /* Espaciado entre los elementos */
    width: 100%;  /* Asegura que ocupe el ancho completo */
    font-size: 18px;
}

.request-info-title {
    font-size: 20px;
    margin-right: 10px;
    color: white;
    background: none;
    font-size: 14px;

}

.description-toggle {
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.request-buttons {
    display: flex;
    gap: 5px;  /* Espaciado entre los botones A y R */
    margin-left: auto;  /* Mueve los botones al final de la línea */
}

.request-nickname{
    margin-left: 15px ;
}


.accept-btn {
    border: none;  
    background-color: green;
    padding: 5px 10px;
    color: white;
    border-radius: 0%;
    cursor: pointer;
}

.reject-btn {
    border: none;
    background-color: red;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.request-info-description {
    margin-top: 10px;  /* Un pequeño margen para separar la descripción del nombre */
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: lavender;
    width: 100%;
}

