.nav-container {
  display: flex; /* Usar flexbox para disposición */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centrar elementos verticalmente */
  box-shadow: 0px 1px 2px 0px #00000026;
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: flex; /* Usar flexbox para logo y alerta */
  align-items: center; /* Centrar verticalmente */
}

.logo-container-requests {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.actions-container {
  display: flex; /* Flexbox para los botones de acción */
  gap: 16px; /* Espacio entre botones */
  align-items: center; /* Centrar botones verticalmente */
}

.alert-icon {
  margin-left: 16px; /* Espacio entre el logo y el icono de alerta */
}
