:root {
  --color-black-primary: #000000;
  --color-black-secondary: #121212;
  --color-black-tertiary: #222222;
  --color-grey: #b0b0b4;
  --color-white: #f0f0f0;
  --color-blue-black: #2b2c7c;
}

/* #040404  #343c4b  #2b2c7c  #c3c3c3  #5c5c5c  #7c7c7c  #212558  #131532  */
