.user-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 2px solid var(--color-blue-dark);
  border-radius: 20px;
  width: 200px;
  height: 80px;
  padding: 8px;
}
